$breakpoint-tablet: 900px;
$breakpoint-mobile: 576px;

@media (min-width:2475px) and (max-width:4000px) {
    ul {
        width: 70%;
    }
}

@media screen and (max-width:$breakpoint-mobile) {
    //index

    #head {
        height: 70vh;
    }
    
    #discover {
        flex-direction: column;
        margin-bottom: 100px;

        #discover-paragraph {
            width:100%;
            right:0;

            p {
                max-width: 270px;
            }
        }

        #discover-title {
            width:100%;
            bottom:0;
            left:0;
            padding-left:0;
            padding-top:55px;

            span {
                text-align:center;
            }
        }
    }

    #menu-section {
        margin-bottom: 100px;
        padding: 0;

        #menu-hero {

            .col-sm:nth-child(1),.col-sm:nth-child(2) {
            border-right:none;
            height:0;
            }
        }
    }

    #events-section {
        margin-bottom:100px;
        flex-direction: column;

        #main-event {
            width: 100%;
            left:0;
        }

        #side-event {
            width: 100%;
            right:0;
            bottom:0;
            z-index:0;
        }
    }

    footer {

        .footer-copy {
            text-align: center;
            letter-spacing: 8px;
            margin-bottom: 35px;
            margin-right:0;
        }

        .col-sm {
            margin-bottom:20px;
        }
    }

    //Navigation

    .mobile-nav {

        .row {
            position:relative;
        }

        .menu-img {
            height:40vh;
            background-position: 0;
        }

        .menu-links {
            height:60vh;
            padding-top: 100px;

            .col-sm {
                display:flex;
                justify-content: center;
                
            ul {
                padding:0 10px;
            }
        }

        }

        .menu-footer {
            position:absolute;
            bottom:20px;
            transform:scale(.8,.8);
            margin:0;
        }
    }

    //Menu page

    #menu-items {
        padding: 50px 10px;
        margin-bottom:100px;
    }

    #menu-gallery {
        margin-bottom:100px;
    }

    // Contact page

    #contact-actions {
        margin-bottom: 100px;
    }

    #reservations {
        min-height:50vh;
        margin-bottom:100px;
        .col-sm-4 {
            margin-bottom:30px;

            input {
                padding: 20px;
            }
        }
    }

    //About page

    #about-desc {
        margin-bottom: 100px;
        width:95%;

        div {
            width: 290px;
        }
    }

    #chef-section {
        margin-bottom: 0;
        flex-direction: column;

        #chef-photo {
            width: 100%;
        }

        #chef-desc {
            margin-left: 0;
            width:90%;
            height:230px;
            padding:0;
            position: relative;
            top: -100px;
            justify-content: center;

            .chef-text {
                text-align:center;
                margin-left:0;
            }

            .chef-title {
                text-align:center;
                transform: none;
                margin-bottom:40px;
                margin-top: -30px;
                font-size: 40px;
            }

            .chef-par {
                text-align:center;
            }
        }
    }

    #about-gallery {
        margin-bottom:100px;
    }
}