header{
    position:absolute;
    top:0;
    left:0;
    z-index: 200;
nav {
    height: 200px;
    position:relative;

        a {
            font-family: $brand-font;
            color: $text-color;
            font-size:50px;
            text-decoration: none;

            &:hover {
                color: $text-color;
            }
        } 
} 
} 